/* Define CSS Variables */
:root {
  --font-family: "Roboto", sans-serif;
  --primary-color: #1e3a8a; /* Dark Blue */
  --secondary-color: #1d4ed8; /* Bright Blue */
  --background-color: #f0f4f8; /* Light Blue Background */
  --input-bg-color: #e6f0ff; /* Light Blue for input fields */
  --card-bg-color: #ffffff; /* White Background for cards */
  --shadow-color: rgba(0, 0, 0, 0.1);
  --border-radius: 1.5rem; /* 15px */
  --button-radius: 3rem; /* 30px */
  --heading-font-size: 4rem; /* 40px */
  --subheading-font-size: 3.2rem; /* 32px */
  --input-font-size: 1.8rem; /* 19px */
  --button-font-size: 1.8rem; /* 19px */
  --footer-font-size: 1.6rem; /* 16px */
  --price-font-size: 1.8rem; /* 19px */
  --card-padding: 2.5rem; /* 25px */
  --input-padding: 1.5rem; /* 15px */
  --card-margin-bottom: 2rem; /* 20px */
  --container-padding: 4rem; /* 40px */
  --container-max-width: 160rem; /* 1500px */
  --card-height: 8rem; /* 80px */
  --chart-container-height: 3rem; /* 400px */
  --footer-opacity: 0.8;
}

/* Reset default browser styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

/* Body Styles */
body {
  font-family: var(--font-family);
  background-color: #fff;
  color: #343a40;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* Main Container */
.container {
  width: 100%;
  max-width: var(--container-max-width);
  height: 90rem;
  background-color: var(--card-bg-color);
  border-radius: var(--border-radius);
  padding: var(--container-padding);
  box-shadow: 0 4px 20px var(--shadow-color);
}

/* Header Styles */
header {
  width: 100%;
  height: fit-content;
}
.header-top {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 8rem;
  background-color: #ffe066;
  height: 8rem;
  align-items: center;
  justify-content: space-around;
  border-bottom: solid #495057 1px;
}

.navbar-list {
  display: flex;
  gap: 3rem;
  list-style: none;
}

.navbar-list__item {
  font-size: 1.6rem;
  font-weight: 600;
}

.auth-buttons {
  display: flex;
}

.btn {
  width: 8rem;
  height: 3rem;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: white;
  margin-left: 1rem;
  border-bottom: solid #495057 2px;
  font-weight: 600;
}

/* header bottom*/
.header-bottom {
  background-color: #ffffff;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid #495057 1px;
}
.header-bottom-list {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.header-bottom-list__label {
  font-weight: 300;
}

.header-bottom-list__value {
  all: unset;
}

.header-bottom-list__item {
  font-size: 1.2rem;
  font-weight: 600;
}

.bitcoin {
  width: 100%;
  height: 50rem;
  margin-top: 5rem;
  border-bottom: solid #495057 1px;
}

.bitcoin-wrapper {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.bitcoin-title-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.bitcoin-img {
  width: 4rem;
}

.bitcoin-title {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.bitcoin-metrics-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.bitcoin-metrics-row {
  display: flex;
  gap: 2rem;
}

.bitcoin-metric__block {
  height: 6rem;
  width: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Soft shadow */
  border: 1px solid #868686;
}

.bitcoin-metric__label {
  font-size: 1.8rem;
  font-weight: 600;
}

.bitcoin-metric__value {
  font-size: 1.8rem;
  font-weight: 600;
}

.bitcoin {
  width: 100%;
}

.bitcoin-title {
  font-size: 5.4rem;
}

.bitcoin-price {
  font-size: 20rem;
  font-weight: 900;
  letter-spacing: 1.5rem;
}
.app-title {
  font-size: var(--heading-font-size);
  color: #343a40;
  font-weight: 600;
  letter-spacing: 1px;
}

/* Crypto Search Section */
.crypto-search {
  display: flex;
  justify-content: center;
  gap: 0.9375rem; /* 15px */
  margin-bottom: 1.5625rem; /* 25px */
}

.crypto-search__input {
  padding: var(--input-padding);
  font-size: var(--input-font-size);
  width: 70%;
  border: 1px solid var(--primary-color);
  border-radius: var(--button-radius);
  background-color: var(--input-bg-color);
  color: #333;
  transition: border 0.3s ease;
}

.crypto-search__input::placeholder {
  color: #777;
}

.crypto-search__input:focus {
  border: 1px solid var(--secondary-color);
  outline: none;
}

.crypto-search__btn {
  padding: 0.9375rem 1.5625rem; /* 15px 25px */
  font-size: var(--button-font-size);
  cursor: pointer;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: var(--button-radius);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.crypto-search__btn:hover {
  background-color: #2563eb;
  transform: scale(1.05);
}

/* Crypto Info Section */
.crypto-info {
  text-align: center;
  width: 70%;
}

.crypto-info-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.5rem;
  /* margin-bottom: 2rem; */
}

.crypto-info__group {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.crypto-graph {
  height: 35rem;
  width: 70rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Soft shadow */
  margin-top: 2rem;
}

.crypto-info__name {
  font-size: 3.2rem;
}

.crypto-info__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #fff; /* Optional: background color */
  padding: 4rem 1rem;
  border-radius: 10px; /* Optional: rounded corners */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.crypto-info__image {
  width: 2.4rem;
}

.crypto-card {
  background-color: var(--card-bg-color);
  padding: var(--card-padding);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 15px var(--shadow-color);
  margin-bottom: var(--card-margin-bottom);
  transition: transform 0.3s ease;
  display: flex;
}

.crypto-info__price {
  font-size: 3.2rem;
  font-weight: 600;
}

/* Footer Section */
footer {
  text-align: center;
  margin-top: 1.875rem; /* 30px */
  font-size: var(--footer-font-size);
  color: #555;
  opacity: var(--footer-opacity);
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .container {
    padding: 2rem; /* 30px */
  }

  .app-title {
    font-size: var(--subheading-font-size);
  }

  #cryptoInput {
    width: 60%;
  }

  .crypto-card {
    margin-bottom: 1rem; /* 15px */
  }
}

/* Crypto List Section */
.crypto-list {
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap;
  height: 20rem;
  width: 35rem;
}

.crypto-list::-webkit-scrollbar {
  width: 8px; /* Adjust the width of the scrollbar */
}

.crypto-list::-webkit-scrollbar-track {
  background: transparent; /* Make the track transparent */
}

.crypto-list::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners */
}

.crypto-list::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color when hovering over the thumb */
}
.crypto-info__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150rem;
  height: 40rem;
}

.crypto-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--card-height);
  width: 30rem;
  padding: 1rem;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 15px var(--shadow-color);
  margin: 1rem auto;
  border: var(--primary-color) solid 0.1rem;
}

.crypto-item div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.crypto-item__price {
  font-size: var(--price-font-size);
  font-weight: 600;
  align-items: center;
  gap: 0.5rem;
}

.crypto-item__image {
  width: 1.875rem; /* 30px */
  height: 1.875rem; /* 30px */
}

/* Crypto Metric */
.crypto-metric__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.crypto-metric__row {
  display: flex;
  gap: 1.5rem;
}

.crypto-metric__block {
  box-shadow: 0 4px 15px var(--shadow-color);
  height: 10rem;
  width: 20rem;
  gap: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  border: var(--primary-color) solid 1px;
}

.crypto-metric__label {
  font-size: 2rem;
  font-weight: 600;
}
.crypto-metric__value {
  font-size: 2.4rem;
  font-weight: 600;
}

.top200-cryptos {
  width: 100%;
  height: auto; /* Allow the section to take more space if needed */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 20px 0; /* Add spacing to prevent overlapping */
  margin-top: 10rem;
}

.market-table-container {
  width: 100%;
  max-width: 1200px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  padding: 10px; /* Ensure content has space */
}

.market-table {
  width: 80%;
  border-spacing: 0;
  table-layout: fixed;
}

.market-body tr {
  transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
  height: 7rem; /* Reduced row height */
  background-color: #ffffff;
}

/* Hover effect */
.market-body tr:hover {
  background: #f9fafb;
  transform: scale(1.02);
}

.market-header {
  height: 8rem; /* Reduced header height */
  background-color: #f1f1f1;
}

.table-heading {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  padding: 10px 8px;
  text-align: left;
  background-color: white;
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
  color: #333;
}

.table-cell {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 8px;
}

.table-cell-hour,
.table-cell-day,
.table-cell-week {
  padding: 8px 6px;
}

.positive {
  color: #008000;
  font-weight: bold;
}

.negative {
  color: #ff0000;
  font-weight: bold;
}

.crypto-logo {
  width: 2rem;
  height: 2rem;
  margin-right: 8px;
}

.table-heading-rank,
.table-cell-rank {
  text-align: center;
}

.table-name-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 20px;
}

.btns-pagination {
  background-color: #ffe066;
  color: #495057;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btns-pagination:hover {
  background-color: #ffd43b;
}

.btns-pagination:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  font-size: 16px;
  color: #333;
}
